/*custom changes to the main bootstap css*/

body {
    font-size: 20px; 
    color: black;
}

table {
    font-size: 14px; 
    color: black;
    border-collapse: collapse; 
    padding: 0;
    margin: 0;
}

th {
    font-size: 16px; 
    color: white;
    cursor: pointer;
    background-color: #191919;
}

tr:nth-child(even) {
    background-color: #4d4d4d;
    color: white;
}

td{
	border: 1pt solid black;
}

.table-hover tbody tr:hover td {
    background: #ffddb3;
    color: black;
}



.table td {
	padding: 0;
	margin: 0;
}

.table th{
	padding: 0;
	margin: 0;
}

.table {
	padding: 0;
	margin: 0;
}