/*custom changes to the main bootstap css*/

body {
    font-size: 20px; 
    color: black;
}

table {
    font-size: 22px; 
    color: black;
    border-collapse: collapse; 
}

th {
    font-size: 24px; 
    color: white;
    cursor: pointer;
    background-color: #191919;
}

tr:nth-child(even) {
    background-color: #4d4d4d;
    color: white;
}

td{
	border-bottom: 1pt solid black;
}

